[Unit]
Description=Hazelcast service

[Service]
Environment="MIN_HEAP_SIZE=4G"
Environment="MAX_HEAP_SIZE=4G"
Type=forking
PIDFile=/opt/hazelcast/bin/hazelcast_instance.pid
ExecStart=/opt/hazelcast/bin/start.sh

[Install]
WantedBy=multi-user.target
